<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:description]} type="text" label="Description" />
  <.input field={f[:image]} type="text" label="Image" />
  <.input field={f[:price]} type="number" label="Price" step="any" />
  <footer>
    <.button variant="primary">Save Product</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
