<.form :let={f} for={@coords} action={@action}>
  <.input field={f[:lat]} type="number" label="Lat:" />
  <.input field={f[:lon]} type="number" label="Lon:" />
  <footer>
    <.button variant="primary">Look for Deliveries</.button>
  </footer>
</.form>
